<div class="wrapper hero {% if section.settings.hero_image %}large flex{% endif %}" data-aos="fade-in">
  {% if section.settings.hero_image %}
    <div class="image_container {{ section.settings.image_position }}">
      <img src="{{ section.settings.hero_image | img_url: '1600x' }}" alt="{{ section.settings.image_alt }}">
    </div>
    <div class="content_container" style="background-color: {{ section.settings.content_background }}">
      <div class="content">
        {% include 'hero-content' %}
      </div>
    </div>
  {% else %}
    {% include 'hero-content' %}
  {% endif %}
</div>

{% schema %}
{
  "name": "Homepage Hero",
  "presets": [
    {
      "category": "Homepage",
      "name":"Homepage Hero"
    }
  ],
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Bring the outdoors, indoors"
    },
    {
      "type": "textarea",
      "id": "supporting",
      "label": "Supporting copy",
      "default": "Beautiful wilderness prints, at affordable prices"
    },
    {
      "type": "text",
      "id": "cta_text",
      "label": "CTA Label",
      "default": "Go here"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero image"
    },
    {
      "type": "textarea",
      "id": "image_alt",
      "label": "Image description"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "Image position",
      "options": [
      {
        "value": "left",
        "label": "Image on left"
      },
      {
        "value": "right",
        "label": "Image on right"
      }
      ]
    },
    {
      "type": "color",
      "id": "content_background",
      "label": "Content background",
      "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
      "type": "video",
      "name": "Video",
      "limit": 1,
      "settings": [
        {
          "type": "url",
          "id": "video_url",
          "label": "Video URL"
        },
        {
          "type": "text",
          "id": "video_title",
          "label": "Video title"
        },
        {
          "type": "text",
          "id": "video_text",
          "label": "CTA Label",
          "default": "Watch video"
        }
      ]
    }
  ]
}
{% endschema %}