<div class="wrapper">
  <h2 class="center cart" data-aos="fadeIn">{{ 'general.404.title' | t }}</h2>
  <p class="center" data-aos="fadeIn">{{ 'general.404.subtext_html' | t }}</p>
  <div class="cart_buttons" style="margin-top: 40px;" data-aos="fadeIn">
    <a class="local" href="/collections/all">
      Continue shopping
      <i class="fal fa-arrow-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
{% section 'homepage-featured' %}
